body {
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/41/MRT-3_North_Avenue_Station_Platform_1.jpg);
	color: black;
	font-family: monospace;
}

h1 {
	font-family: monospace;
	margin-top: 10px;
}

.genericlogo {
	max-width: 250px;
}

.mark {
	background-color: white;
	color: black;
}
.f{
	max-width: 550px;
	align-self: center;
	margin-top: 10px;
}

.card-body{
	background-color: yellow;
	color: white;
	font-family: serif;
}

.card {
	color: white;

}

.container {
	margin-top: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #067BC2;
	color:whitesmoke;
	margin-bottom: 10px;

.d{
	max-width: 500px;
	float: right;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.btn-danger{
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
.collapse {
	background-color: #344966;
}

.container3{
	background-color: black;
	margin-top: 10px;
	padding-top: 10px;
	color: #F7E8A4;
	align-content: center;
}

.color {
	background-color: #FDCA40;
	color: black;
}
.box {
	background-color: #FFE347;
	color: brown;
	padding: 20px;
	max-width: 300px;
	max-height: 150px;
	margin-top: 20.5px;
}

.thin {
	max-width: 400px;
	align-self: center;
}
.container-fluid {
	background-color: #33A1FD;
	margin-top: 5px;
	align-content: center;
	padding-right: 20px;
	padding-left: 20px;
	font-family: sans-serif;
	overflow: scroll;
	padding-top: 20px;
	padding-bottom: 20px;
}

.btn:hover {
	background-color: black;
	color: whitesmoke;
}

.c {
	float: right;
	height: 50%;
}
img {
	max-width: 150px;
	margin-top: 10px;
}

.topnav {
  background-color: #84BCDA;
  overflow: hidden;
}

.topnav a {
 float: left;
 display: block;
  color: white;
  background-color: #84BCDA;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ECC30B;
  color: black;
}

.elp {
	background-color: #067BC2;
	color: white;
}

.btn11 {
	margin-top: 5px;
	border-radius: 5px;
	background-color: #F1D302;
	color: black; 
}

.extension {
	padding-left: 20px;
	padding-bottom: 30px;
}

.mr {
	float: right;
}
.g {
	max-width: 1000px;
}